* {
    box-sizing: border-box;
}

/*algemeen*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F5F5F6;
    width: 100%;
    margin: 0;
}

header>h1 {
    position: absolute;
    left: -9999vw;
}

h2 {
    font-size: 1.1em;
    color: #D82231;
}

h2{
    color: #00477F;
    border-bottom: 0.1em solid #ED283C;
    margin-left: 1em;
    margin-right: 10em;
    margin-top: 1em;
    margin-bottom: 2em;
}

h3 {
    font-size: 1.1em;
    color: #D82231;
}

p,
li,
legend,
option,
label {
    font-size: 0.8em;
    color: #00477F
}

button {
    outline: 0;
}

a {
    text-decoration: none;
    color: #00477F
}

/*header*/

header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    z-index: 99;
    height: 3.25em;
}

header>img {
    position: relative;
    width: 4em;
    height: auto;
    left: 0.63em;
    padding-top: 0.31em;
}

header>nav>ul {
    list-style: none;
    right: 5%;
    top: 0%;
    padding-left: 0%;
    margin-top: 0.5em;
}

header>nav>ul>li {
    display: inline;
    padding: 0.2rem;
}

header>nav>ul>li>a>img {
    width: 3em;
}

header>a>img{
        width: 4em;
        position: relative;
    height: auto;
    left: 0.63em;
    margin-top: 1em;
}



section:first-of-type>button {
    max-width: 90%;
    background-color: white;
    color: #00477F;
    font-size: 100%;
    padding: 0.62em;
    border-radius: 0.37em;
    margin-top: 1.5em;
    margin-top: 1.5em;
    cursor: pointer;
}

section:first-of-type>a{
    max-width: 90%;
    background-color: white;
    color: #00477F;
    font-size: 100%;
    padding: 0.62em;
    border-radius: 0.37em;
    margin-top: 1.5em;
    margin-top: 1.5em;
    cursor: pointer;
}

 section:first-of-type>a:hover{
   background-color: #D82231;
   color: white;
}

section h2 {
    margin-left: 2.6em;
}

body > section:nth-of-type(3){
    left: 0;
    right: 0;
    background-color: #00477F;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: 1s ease-in;
    bottom: -999px;
   
}


/*geliked*/
body > section:nth-of-type(3).show {
    bottom: 0px;
    background-color: #00477F;
}

/*gedownload*/
body > section:nth-of-type(3).gedownload{
    background-color: #377d22;
}

/*error download*/
body > section:nth-of-type(3).error{
    background-color: orange;
}


body > section:nth-of-type(3)> p{
    color: white;
    max-width: 30em;
    text-align: center;
    padding: 30px;
}

/*
section>p{
    color: white;
    max-width: 30em;
    text-align: center;
    padding: 30px;
    background-color: #00477F;
    width: 100%;
    
  
    
}
*/

#leesduurmenu {
    display: none;
}

#sfeermenu {
    display: none;
}

body section > form {
    /* styles */
    padding:  0 1.75em;
    height: 0;
    overflow: hidden;
    transition: 1s ease;   
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body section > form.is-open {
    height: auto;
    overflow:visible;
}

body section > form fieldset {
    border: none;
    padding: 0;
    margin: 1em 0;
}

body section > form label {
    display: block;
    background-color: white;
    border: 2px solid lightgrey;
    margin: 1em 0;
    padding: 1em;
    cursor: pointer;
    border-radius: .2em;
}

body section > form legend {
    font-size: .7em;
    font-weight: 600;
    color: #6d6e71;
    text-transform: uppercase;
}
body section > form input {
    margin-bottom: 1em;
}

body section > form input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: .6rem;
    border-radius: 40px;
    background: lightgrey;
    cursor: pointer;
    position: relative;
    color: #00477F;
}

body section > form input[type="range"]::before {
    content: "0 min";
    position: absolute;
    top: 1.2em;
    left: 0;
}

body section > form input[type="range"]::after {
    content: "7 min";
    position: absolute;
    top: 1.2em;
    right: 0;
}

body section > form input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #00477F;
    height: 1.8em;
    width: 1.8em;
    border-radius: 100%;
}

form>a{ 
    background-color: white;
    color: #00477F;
    font-size: 100%;
    padding: 0.62em;
    border-radius: 0.37em;
    margin-top: 1.5em;
    margin-bottom: 3em;
    cursor: pointer;
    max-width: 20em;
}

form>a:hover{ 
    background-color: red;
    color: #00477F;
    cursor: pointer;
}

body>section>ul {
    font-size: 15%;
    margin-top: 3em;
    padding-left: 0%;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

body>section>ul>li {
    width: 8em;
    background-color: #00477F;
    color: white;
    padding: 0.93em;
    font-size: 7em;
    margin: 0% 1%;
    border-radius: 0.31em;
    transition: background-color 0.2s;
    transition: color 0.2s;
    cursor: pointer;
}



body>ul>li:hover {
    background-color: #D82231;
    color: #00477F;
}

body>p {
    top: 21.25em;
    left: 5%;
    font-size: 120%;
    padding-bottom: 0.3em;
    border-bottom: 0.06em solid #ED283C;
}

body>button {
    right: 4.5%;
    top: 21.88em;
    font-size: 100%;
    color: #00477F;
    background-color: #D3EFFC;
    padding: 0.6em 10%;
    border-radius: 0.31em;
    border: 0.06em solid #D3EFFC;
}

article > picture {
    margin: 0;
}

article {
    background-color: white;
    position: relative;
    width: 90%;
    margin-left: 1.3em;
    margin-right: 1.3em;
    box-shadow: 0em 0.63em 0.38em #ccc;
    border-radius: 0.38em;
    padding-bottom: 1em;
    margin-bottom: 3em;
}

article > button {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 1px solid;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    margin-right: 1em;
    margin-top: 0em;
    color: transparent;
    padding: 1em;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    position: absolute;
    top: 1em;
    left: 1em;
    transition: .5s;
    cursor: pointer;
}

article > button:hover{
    height: 3.5em;
    width: 3.5em;
    background-color: darkgray;
    
}

article > button:first-of-type {
    background-image: url(../images/geliked.svg);
    background-color: red;
}

article > button:nth-of-type(2) {
    background-image: url(../images/gedownload.svg);
    left: 5em;
    background-color: green;
}

/* Interacties van buttons */

/*keyframe like interactie*/
@keyframes pop {
    0% {transform: scale(0.8)}
    50%{transform: scale(1.2)}
    100% {transform: scale(1)}
}

article > button.liked {
    background: red;
    background-image: url(../images/geliked.svg);
    /* zieke animatie komt hier */
    animation-name: pop;
    animation-duration: 1s;
    background-size: 81%;
    background-position: center;
    background-repeat: no-repeat;
}

/*keyframe maken laden download*/
@keyframes laden {
    from{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(360deg);
    }
    
    
}

article > button.laden {
    border-left: 3px solid #00477F;
    /* andere zieke animatie komt hier */
    background-image: none!important;
    animation-name: laden;
    animation-duration: 1s;
/*    hoe vaak animatie afspeeld*/
    animation-iteration-count: 3;
/*    easings.net -> animatie hoe draait die rond*/
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

article > button.klaar {
    background: green;
    background-image: url(../images/gedownload.svg);
}

article > button:la {
    background: green;
    background-image: url(../images/gedownload.svg);
}

article > button.error{
    background: orange;
    background-image: url(../images/index.svg);
    background-size: 90%;
}

/* Einde van interacties */

article > picture img {
    width: 100%;
    border-radius: 0.37em 0.37em 0em 0em; 
}

article>p {
    font-size: 1.3em;
    margin-right: 1.25em;
    min-height: 4em;
    border-bottom: 0.1em solid #ED283C;
    margin-left: 1.25em;
}

article h3 {
    font-size: 1.3em;
    margin-right: 1.25em;
    min-height: 4em;
    border-bottom: 0.1em solid #ED283C;
    margin-left: 1.25em;
    color: #00477F;
}

article p{
 font-size: 1.3em;
    margin-left: 1.5em;
}

article footer>ul>li:nth-child(6){
    color: green;
    margin-top: 1em;
    font-size: 1.2em;
}

article footer>ul {
    list-style: none;
    padding: 0 1.6em;
}

article footer > ul > li {
    display: flex;
    align-items: center;
}

article footer>ul>li>img {
    width: 3em;
    height: 3em;
}



select {
    margin-left: 1.75em;
    margin-bottom: 1.75em;
    border: 2px #ebebec solid;
    height: 3em;
    color: darkgrey;
    -webkit-appearance: value;
   -moz-appearance:    value;
   appearance:         value;
    outline: none;
    cursor: pointer;
}

select:hover{
     background-color: #666;
  color: white;
}

section>button:hover{
   background-color: #D82231;
    color: white;
}

li button{
    color: white;
    background-color:#00477F;
         border-radius: 2em;
}

section>ul>li:hover{
     background-color: #D82231;
    color: white;
}

article:hover{
        box-shadow: 0.50em 0.80em 0.50em darkgrey;
}



    
img[src="images/charleysheen_tablet.jpg"]{
    width: 10em;
}


@media only screen and (max-width: 600px) {
    img[src="images/charleysheen_mobiel.jpg"] {
        width: 100%;
    }
    img[src="images/charleysheen_tablet.jpg"] {
        display: none;
    }
}




/*grid*/

@media only screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    article {
        margin-top: 1.6em;
    }
    img[src="images/charleysheen_mobiel.jpg"] {
        display: none;
    }
    img[src="images/charleysheen_tablet.jpg"] {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    article {
        margin-top: 1.6em;
        max-width: 20em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 800px) {
    section>h2:nth-child(1n){ {
        margin: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        min-height: 5em;
        margin-right: 10em;
        margin-left: 10em;
    }
}
  