* {
    box-sizing: border-box;
}

/*algemeen*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F5F5F6;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 1.2em;
    color: #D82231;
}

h2 {
    font-size: 1.1em;
    color: #D82231;
}

p,
li,
legend,
option,
label {
    font-size: 0.8em;
    color: #00477F
}

a {
    text-decoration: none;
    color: #00477F
}

/*header*/

header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    z-index: 99;
    height: 3.25em;
}

header>img {
    position: relative;
    width: 4em;
    height: auto;
    left: 0.63em;
    padding-top: 0.31em;
}

header>nav>ul {
    list-style: none;
    right: 5%;
    top: 0%;
    padding-left: 0%;
    margin-top: 0.5em;
}

header>nav>ul>li {
    display: inline;
    padding: 0.2rem;
}

header>nav>ul>li>a>img {
    width: 3em;
}

header>a>img{
        width: 4em;
        position: relative;
    height: auto;
    left: 0.63em;
    margin-top: 1em;
}


section:first-of-type {
    background-image: url(../images/verhaal1.png);
    background-size: cover;
    width: 100%;
    left: 0;
    height: 13.75em;
    text-align: center;
    min-height: 15em;
}

section:first-of-type>h1 {
    margin: 1.25em;
    margin-top: 0em;
    margin-bottom: 1.25em;
    padding: 0.62em;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 5em;
}

section:first-of-type>button {
    max-width: 90%;
    background-color: white;
    color: #00477F;
    font-size: 100%;
    padding: 0.62em;
    border-radius: 0.37em;
    margin-top: 1.5em;
    margin-top: 1.5em;
}

section h2 {
    margin-left: 1.75em;
}

#leesduurmenu {
    display: none;
}

#sfeermenu {
    display: none;
}

form {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

form button {
    margin-bottom: 1em;
    width: 15em;
    color:
}

legend {
    font-size: 1.3em;
    color: red;
    margin-left: 1.5em;
}

input {
    width: 15em;
    margin-bottom: 1em;
}


body>section>ul {
    font-size: 15%;
    margin-top: 3em;
    padding-left: 0%;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

body>section>ul>li {
    width: 8em;
    background-color: #00477F;
    color: white;
    padding: 0.93em;
    font-size: 7em;
    margin: 0% 1%;
    border-radius: 0.31em;
    transition: background-color 0.2s;
    transition: color 0.2s;
}



body>ul>li:hover {
    background-color: #D82231;
    color: #00477F;
}

body>p {
    top: 21.25em;
    left: 5%;
    font-size: 120%;
    padding-bottom: 0.3em;
    border-bottom: 0.06em solid #ED283C;
}

body>button {
    right: 4.5%;
    top: 21.88em;
    font-size: 100%;
    color: #00477F;
    background-color: #D3EFFC;
    padding: 0.6em 10%;
    border-radius: 0.31em;
    border: 0.06em solid #D3EFFC;
}


article div {
    position: absolute;
    top: 0;
    width: 20em;
}

article div img {
    width: 14%;
    right: 0%;
    margin: 3%;
}

article {
    background-color: white;
    position: relative;
    width: 90%;
    margin-left: 1.3em;
    margin-right: 1.3em;
    box-shadow: 0em 0.63em 0.38em #ccc;
    border-radius: 0.38em;
    padding-bottom: 1em;
    margin-bottom: 3em;
}



article>img {
    width: 100%;
    border-radius: 0.37em 0.37em 0em 0em; 
}

article>p {
    font-size: 1.3em;
    margin-right: 1.25em;
    min-height: 4em;
    border-bottom: 0.1em solid #ED283C;
    margin-left: 1.25em;
}

article>h2 {
    font-size: 1.3em;
    margin-right: 1.25em;
    min-height: 4em;
    border-bottom: 0.1em solid #ED283C;
    margin-left: 1.25em;
    color: #00477F;
}

article p{
 font-size: 1.3em;
    margin-left: 1.5em;
}

article>ul>li:nth-child(6n){
    color: green;
    margin-top: 1em;
    font-size: 1.2em;
}

article>ul {
    list-style: none;
}

article>ul>li>img {
    width: 10%;
}

select {
    margin-left: 1.75em;
    margin-bottom: 1.75em;
    background-color: grey;
}

section>button:hover{
   background-color: #D82231;
    color: white;
}

li button{
    color: white;
    background-color:#00477F;
         border-radius: 2em;
}

section>ul>li:hover{
     background-color: #D82231;
    color: white;
}


/*
.block {
    background: red;
}
*/


/*
.test1 {
    width: 40em;
    color: aqua;
    height: 10em;
    background-color: bisque;
}
*/



@media only screen and (max-width: 600px) {
    img[src="images/charleysheen_mobiel.jpg"] {
        width: 100%;
    }
    img[src="images/charleysheen_tablet.jpg"] {
        display: none;
    }
}




/*grid*/

@media only screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    article {
        margin-top: 1.6em;
    }
    img[src="images/charleysheen_mobiel.jpg"] {
        display: none;
    }
    img[src="images/charleysheen_tablet.jpg"] {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    article {
        margin-top: 1.6em;
        max-width: 20em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 800px) {
    .verhaalvandedag>h1 {
        margin: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        min-height: 5em;
        margin-right: 10em;
        margin-left: 10em;
    }
}
        
       
